/* Coolors Exported Palette - coolors.co/f15025-ffffff-e6e8e6-ced0ce-191919 */

/* HSL */
$color1: hsla(13%, 88%, 55%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(120%, 4%, 91%, 1);
$color4: hsla(120%, 2%, 81%, 1);
$color5: hsla(0%, 0%, 10%, 1);

/* RGB */
$color1: rgba(241, 80, 37, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(230, 232, 230, 1);
$color4: rgba(206, 208, 206, 1);
$color5: rgba(25, 25, 25, 1);