/* = = = Universal Styles = = = */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: rgba(25, 25, 25, 1);
  color: white;
  font-family: 'Comfortaa', cursive;
}

.section-heading, footer {
  padding-top: 3rem;
}

@media only screen and (max-width: 650px) {
  .section-heading {
    font-size: 1.5rem !important;
  }
}



/* = = = FONTS = = = */

@font-face {
  font-family: 'Rum Raisin Cyrillic';
  font-weight: 400;
  src: url(../fonts/Rum Raisin Cyrillic.otf);
}

@font-face {
  font-family: 'TypoGraphica Demo';
  font-weight: 400;
  src: url(../fonts/TypoGraphica/TypoGraphica_demo.otf);
}

.rum-raisin {
  font-family: "Rum Raisin Cyrillic";
}

.typographica {
  font-family: 'TypoGraphica Demo';
}

.neucha {
  font-family: 'Neucha', cursive;
}

.comfortaa {
  font-family: 'Comfortaa', cursive;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}

.cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
}



/* = = = Bootstrap Overrides = = = */

.container {
  padding-right: 0px;
  padding-left: 0px;
}

@media only screen and (max-width: 650px) {
    .display-2 {
        font-size: 2.5rem;
    }
}

.bg-secondary {
  background-color: rgba(206, 208, 206, 0.07) !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
}

.btn-secondary {
  background-color: rgba(25, 25, 25, 1);
}

.btn-secondary:hover {
  background-color: rgba(241, 80, 37, 1);
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.1rem rgba(241, 80, 37, 1);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  box-shadow: 0 0 0 0.1rem rgba(241, 80, 37, 1);
}

.btn-link {
  font-weight: 400;
  color: rgba(241, 80, 37, 1);
  background-color: transparent;
}

.btn-link:hover {
  color: rgba(241, 80, 37, 1);
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:active {
  font-weight: bold;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: black;
  background-color: rgba(206, 208, 206, 1);
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}



/* = = = Navigation = = =  */
.navbar {
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    .karaoke-nav {
        font-size: .65rem;
    }
}



/* = = = Main Banner = = = */
.main-banner {
  background-image: url("../images/microphones-crop.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 51.56vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 3px black;
}

.just-team {
  letter-spacing: .75rem;
  padding: 0 1rem;
  font-family: 'Neucha', cursive;
  font-weight: bold;
  font-style: italic;
}

.j-team {
  letter-spacing: .5rem;
  font-family: 'Neucha', cursive;
  font-weight: bold;
  font-style: italic;
}

#full-menu {

}

.collapse {
  margin-top: .15rem;
}

.menu-image {
  max-height: 10rem;
  width: auto;
}



/* = = = Sliders = = = */
.karaoke-slide {
  width: 100%;
  padding: 2rem 5rem;
}

.slide, .contacts {
  border-radius: 2px;
  box-shadow: 0 0 0 0.1rem rgba(108, 117, 125, 0.5);
  color: black;
}

.food-drink-menu {
  height: 40vw;
}

.special-offers {
  min-height: 25vw;
}

.offer-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 960px) {
    .offer-title {
        font-size: 1.5rem;
    }
}

.col-md-5 .nested-container {
    min-height: 200px;
}

.offer-title p {
  padding-bottom: 2rem;
}

.img-offer {
  height: 65%;
  width: auto;
}

    /* Popover */
.popover {
font-family: 'Comfortaa', cursive;
}



/* = = = Events = = = */

.events {
  height: 40vw;
}

.events-nested-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.event-description {
  background-color: rgba(25,25,25,0.7);
  width: 80%;
}

.event1 {
  background-image: url("../images/event-drums.jpg");
}

.event2 {
  background-image: url("../images/event-light.jpg");
}

.event3 {
  background-image: url("../images/event-songs.jpg");
}

.event4 {
  background-image: url("../images/events/2018-10-27 Halloween extended.jpg");
  background-size: contain;
  background-color: black;
}

.list-opening {
  line-height: 1.9;
}

.list-opening li {
  list-style-type: none;
  list-style-position: inside;
}

.list-opening a:link {
  color: rgba(241, 80, 37, 1);
}

@media only screen and (max-width: 1100px) {
  .list-opening {
    line-height: 1.7;
  }

    .list-opening li {
        font-size: 1rem;
    }
    .event-description h1 {
      font-size: 2.5rem;
    }

    .event-description h2 {
      font-size: 2rem;
    }
}

@media only screen and (max-width: 980px) {
  .list-opening {
    line-height: 1.6;
  }

    .list-opening li {
        font-size: 1rem;
    }
    .event-description h1 {
      font-size: 1.8rem;
    }

    .event-description h2 {
      font-size: 1.3rem;
    }
}

@media only screen and (max-width: 760px) {
  .list-opening {
    line-height: 1.2;
  }

    .list-opening li {
        font-size: 1rem;
    }
    .event-description h1 {
      font-size: 1.8rem;
    }

    .event-description h2 {
      font-size: 1.3rem;
    }

    .event-description p {
      display: none;
    }
}


@media only screen and (max-width: 600px) {
  .list-opening {
    line-height: 1.1;
  }

    .list-opening li {
        font-size: .7rem;
    }
    .event-description h1 {
      font-size: 1.5rem;
    }

    .event-description h2 {
      font-size: 1rem;
    }

    .event-description p {
      display: none;
    }
}



/* = = = Full Menu = = =  */

table tbody tr td:first-child {
  font-style: italic;
  font-weight: bold;
}

.table-2 table tbody tr td:first-child {
  white-space: nowrap;
}



/* = = = Gallery = = = */
.gallery-photo {
  width: 100%;
  height: auto;
  }



/* = = = Description = = = */
#description {
  padding: 0 5rem;
}



/* = = = Contacts = = = */
#contacts {
  min-height: 400px;
  padding: 0 1rem;
}

#location {
  padding: 0;
  margin: 0;
}

.map-container {
  min-height: 432px;
  padding: 15px 0;
}

.about-bar {
  color: white;
}

.about-bar h3 {
  margin-top: 2rem;
}

.nested-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.nested-container p {
  color: white;
  width: 70%;
}


/* = = = Footer = = = */
footer p {
  text-align: center;
}
